<div class="container">
  <div class="row my-3">
    <div class="col px-0 offset-1">
      
      <div style="text-align: center">
        <h1>本当に退会しますか？</h1>
          <p>
            退会すると、これまでの投稿も削除されてしまいます。<br>
            退会する場合は、「退会する」をクリックしてください。
          </p>
        
          <%= link_to "退会しない", user_path(@user.id), :class => "btn btn-primary ms-3" %>
          <%= link_to "退会する", user_withdraw_path(@user.id), method: :patch, :class => "btn btn-danger ms-3", data: { confirm: "本当に退会しますか？" }  %>
        </div>
    </div>
  </div>
</div>